body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: green;
    height: 70%;
    width: 70%;
}

a:hover {
    color: white;
}

.name {
    color: green;
    display: flex;
    flex-direction: row;
    width: 97vw;
    justify-content: space-between;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.content {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    color: lightgray;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid green;
    color: green;
    box-sizing: border-box;
    transform: rotate(-5deg);
}

.text{
    transform: rotate(90deg);
}

.about {
    background-color: white;
    color: green;
    height: 65vh;
    width: 40vh;
}

.about:hover {
    background-color: green;
}

.work {
    background-color: white;
    color: green;
    height: 70%;
    width: 70%;
}

.work:hover {
    background-color: green;
}

.blog {
    background-color: white;
    color: green;
    height: 70%;
    width: 70%;
}

.blog:hover {
    background-color: green;
}

.contact {
    background-color: white;
    color: green;
    height: 70%;
    width: 70%;
}

.contact:hover {
    background-color: green;
}

.center {
    background-color: white;
    color: green;
    height: 70%;
    width: 70%;
}

.center:hover {
    background-color: green;
    color: white;
}