@font-face {
    font-family: Compagnon;
    src: url('fonts/Compagnon.otf'),
    url('fonts/Compagnon.otf') format('otf')
}

@font-face {
    font-family: Arsenica;
    src: url('fonts/ArsenicaBold.ttf'),
    url('fonts/ArsenicaBold.ttf') format('ttf')
}

.menu {
    list-style-type: none;
    margin-right: 45px;
}

.menu-item {
    font-size: 25px;
    height: 27px;
    min-width: 125px;
    border-bottom: 1px solid rgb(157, 132, 70);
    margin-top: 2px;
    padding: 0;
    padding-bottom: 5px;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

a:hover {
    text-decoration: none;
    color: #12380F;
}