body {
    color: #212121;
    cursor: crosshair;
    box-sizing: border-box;
    background: #ea533b;
    background-image: radial-gradient(#bd4836 1px, transparent 0);
    background-size: 24px 24px;
    background-position: -19px -19px;
    padding: 0;
    margin: 0;
    border: 8px solid #212121;
    overflow: hidden;
}

@font-face {
    font-family: PicNic;
    src: url('fonts/PicNic-Regular.eot'),
    url('fonts/PicNic-Regular.woff') format('woff')
}

.bio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 50px;
}

.bio img{
    border: 8px solid #212121;
    margin-left: 10px;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    font-family: 'PicNic';
    padding-left: 50px;
    padding-right: 50px;
}

.name h1{
    font-size: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 25px;
    padding-bottom: 75px;
}

.right {
    font-size: 23px;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 97.8vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.right p {
    color:#212121;
}

.right a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    padding-right: 5px;
    text-decoration: none;
    color: #212121;
    font-size: 30px;
}

.right a:hover{
    background-color: #212121;
    color: #ea533b;
    cursor: crosshair;
}

.right a:visited {
    color: #212121;
}

.right a:visited:hover {
    color: #ea533b;
}


@media screen and (orientation: portrait) {
    body {
        padding-top: 30px;
    }
    
    .name {
      width:100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      padding: 0;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }

    .name h1{
        width: 100vw;
        font-size: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        padding-bottom: 15px;
        box-sizing: border-box;
    }

    .paragraph {
        width: 100vw;
        padding: 12px;
        padding-top: 15px;
        box-sizing: border-box;
    }

    .paragraph p {
        margin: 0;
        padding: 30px;
    }

    .paragraph a {
        width: 100%;
        display: flex;
        justify-content: center;
    }
  }

