body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-size: 25px;
    background-image: url("../images/starfield.png");
}

.name p{
    font-size: 20px;
}

.name a{
    text-decoration: none;
    color: #73c15d;
}

.name a:hover {
    color: #63a052;
}