body {
    overflow: hidden;
}

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 87%;
}

.blog-container a{
    color: #bc5952;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.blog-container a:hover{
    color: #8c4646;
    text-decoration: none;
}