body {
    overflow: hidden;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 87%;
}

.about-container a{
    color: #bc5952;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.about-container a:hover{
    color: #8c4646;
    text-decoration: none;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

.about-photo {
    width: 46%;
    height: 90%;
    background-image: url("../profile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border: 1px solid #689581;
}

@media screen and (orientation:portrait) {
    .about-container {
      flex-direction: column;
      width: 100%;
      height: 90%;
    }
 }