body {
    overflow: hidden;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 75%;
}

.about-container a{
    color: #bc5952;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.about-container a:hover{
    color: #8c4646;
    text-decoration: none;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 100%;
}

.about-photo {
    width: 47%;
    height: 90%;
    background-image: url("../profile.jpg");
    background-position: center;
    background-size: 110%;
    border: 1px solid #689581;
}