body {
    color: #3b3b3b;
    cursor: crosshair;
    box-sizing: border-box;
    background: #fafafa;
    background-image: radial-gradient(#3b3b3b .7px, transparent 0);
    background-size: 24px 24px;
    background-position: -19px -19px;
    margin: 0;
}

@font-face {
    font-family: PicNic;
    src: url('fonts/PicNic-Regular.eot'),
    url('fonts/PicNic-Regular.woff') format('woff')
}

.name {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    font-family: 'PicNic';
    padding-left: 50px;
    padding-right: 50px;
}

.name h1{
    font-size: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 25px;
    padding-bottom: 75px;
}

.paragraph {
    font-size: 23px;
    font-family: 'Josefin Sans', sans-serif;
    padding-right: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.paragraph p {
    margin-top: 75px;
    color:#3b3b3b;
}

.paragraph a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    padding-right: 5px;
    text-decoration: none;
    color: #3b3b3b;
}

.paragraph a:hover{
    background-color: #3b3b3b;
    color: #fafafa;
    cursor: crosshair;
}

.paragraph a:visited {
    color: #3b3b3b;
}

.paragraph a:visited:hover {
    color: #fafafa;
}

@media screen and (orientation: portrait) {
    body {
        padding-top: 30px;
    }
    
    .name {
      width:100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      padding: 0;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }

    .name h1{
        width: 100vw;
        font-size: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        padding-bottom: 15px;
        box-sizing: border-box;
    }

    .paragraph {
        width: 100vw;
        padding: 12px;
        padding-top: 15px;
        box-sizing: border-box;
    }

    .paragraph p {
        margin: 0;
        padding: 30px;
    }

    .paragraph a {
        width: 100%;
        display: flex;
        justify-content: center;
    }
  }
